@import './_variable.scss';
page, .container{
  height: 100%;
}
.container {
  > view {
    width: 100%;
    display: block;
  }
}
.header {
	position:relative;
	color: $primaryText;
  background: $themeColor;
	height:350rpx;
	.bg {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
  }
  .level-1 {
    position:absolute;
    top:32rpx;
     
    padding:0 31rpx;
    font-size:32rpx;
  }
  .level-2 {
    position:absolute;
    bottom:32rpx;
    width:100%;
    .today-expend {
      margin-bottom:0rpx;
    }
    .amount-expend {
      margin-bottom:24rpx;
    }
    > view {
      padding:0 31rpx;
    }
  }
  .no-read-msg:after {
    content: '';
    position: absolute;
    width: 16rpx;
    height: 16rpx;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: #FF0000;
  }
  .pay-num {
    background:rgb(32,86,174);
    margin:0 4rpx;
  }
  .notification {
    position:absolute;
    top:42rpx;
    right:42rpx;
    width:60rpx;
    height:60rpx;
    background:black;
    border-radius:50%;
    padding:8rpx;
    image {
      width:100%;
      height:100%;
    }
  }
  .jz-icon-xiaoxi {
    font-size: 54rpx;
    position: absolute;
    top: 32rpx;
    right: 48rpx;
  }
}

.zan-btns.new-record {
  margin: 0;
  .jz-btn {
    background: $primaryColor;
    color: white;
    margin:15px;
  }
}

.statement-list {
  margin-bottom: 150rpx;
   
}

.no-more-data {
  text-align: center;
  color: #999;
  background: #efefef;
  height: 60rpx;
  line-height: 60rpx;
  font-size: 28rpx;
}

.column {
  position: fixed;
  bottom: 0rpx;
  width: 100%;
  height: 145rpx;
  font-size: 32rpx;
  background: white;
  justify-content: space-between;
  display: fixed;

  .left {
      background-color: #f6b44c;
      color: white;
      border-radius: 4px;
      margin: 5rpx 0rpx;

      left: 30rpx; 
      bottom: 37rpx;
      position: fixed;

      font-size: 32rpx;
      font-weight: bolder;
      padding: 12rpx 50rpx;
  }

  .middle {
      background-color: $themeColor;
      color: $secondaryText;
      border-radius: 4px;
      text-align: center;

      font-size: 32rpx;
      font-weight: bolder;
      padding: 12rpx 36rpx;

      display: block;
      width: 20%;    
      margin: 0 auto;
  }

  .right {
      background-color: #f6b44c;
      color: white;
      border-radius: 4px;

      right: 30rpx; 
      bottom: 42rpx;
      position: fixed;

      font-size: 32rpx;
      font-weight: bolder;
      padding: 12rpx 36rpx;
  }
}

.auth-float {
  position: fixed;
  right:0rpx;
  bottom:0rpx;
  left:0rpx;
  top:0rpx;
  text-align: center;
  background: #ffffff;
  image {
   width:200rpx;
   height:200rpx;
   margin-top: 140rpx;
  }
  button {
   width:70%;
   background: #4fae71;
   color: white;
  }
}

.share-everyday {
  position: absolute;
  right: 30rpx;  
  top: 24rpx;
  text-align: center;
  text {
     color: white;
     font-size: 26rpx;
     border-radius: 12px;
     padding: 12rpx 24rpx;
      background-color: #f6b44c;
      color: white;
      font-weight: bolder;
      border-radius: 4px;
  }
}

.share-float {
  position: fixed;
  right:0rpx;
  bottom:0rpx;
  left:0rpx;
  top:0rpx;
  text-align: center;
  background: #ffffff;
  image { 
   position: fixed;
   bottom: 10rpx;
   left: 10rpx;
   right: 10rpx;
  }
  button {
   width:300rpx;
  height: 50rpx;
   background: #4fae71;
   color: white;
  position: fixed;
   bottom: 10rpx;
   left:10rpx;
   right:10rpx;
  }
}
